In [ ]:
# importing libraries of python
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_squared_log_error
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score

 2. EDA

In [2]:
# Read the csv file
import pandas as pd
df = pd.read_csv('/content/Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv')
df

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1.0,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1.0,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1.0,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1.0,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1.0,Education,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10971,2011,2011,KS,Kansas,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,Value,...,"(38.34774030000045, -98.20078122699965)",PA,PA1,Q043,VALUE,20.0,Age (years),65 or older,AGEYR,AGEYR65PLUS
10972,2011,2011,KS,Kansas,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,Value,...,"(38.34774030000045, -98.20078122699965)",PA,PA1,Q043,VALUE,20.0,Income,"Less than $15,000",INC,INCLESS15
10973,2011,2011,KS,Kansas,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,Value,...,"(38.34774030000045, -98.20078122699965)",PA,PA1,Q043,VALUE,20.0,Income,"$15,000 - $24,999",INC,INC1525
10974,2011,2011,KS,Kansas,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,Value,...,"(38.34774030000045, -98.20078122699965)",PA,PA1,Q043,VALUE,20.0,Income,"$25,000 - $34,999",INC,INC2535
10975,2011,2011,KS,Kansas,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# types of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10976 entries, 0 to 10975
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   10976 non-null  int64
 1   YearEnd                     10976 non-null  int64
 2   LocationAbbr                10976 non-null  object
 3   LocationDesc                10976 non-null  object
 4   Datasource                  10976 non-null  object
 5   Class                       10976 non-null  object
 6   Topic                       10976 non-null  object
 7   Question                    10976 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             10975 non-null  object
 10  Data_Value                  10028 non-null  float64
 11  Data_Value_Alt              10028 non-null  float64
 12  Data_Value_Footnote_Symbol  947 non-null    object
 13  Data_Value_Footnote         947 non-null    object
 14  Low_Confidence_Limit        10028 non-null  float64
 15  High_Confidence_Limit       10028 non-null  float64
 16  Sample_Size                 10028 non-null  float64
 17  Total                       393 non-null    object
 18  Age(years)                  2354 non-null   object
 19  Education                   1568 non-null   object
 20  Gender                      789 non-null    object
 21  Income                      2740 non-null   object
 22  Race/Ethnicity              3131 non-null   object
 23  GeoLocation                 10966 non-null  object
 24  ClassID                     10975 non-null  object
 25  TopicID                     10975 non-null  object
 26  QuestionID                  10975 non-null  object
 27  DataValueTypeID             10975 non-null  object
 28  LocationID                  10975 non-null  float64
 29  StratificationCategory1     10975 non-null  object
 30  Stratification1             10975 non-null  object
 31  StratificationCategoryId1   10975 non-null  object
 32  StratificationID1           10975 non-null  object
dtypes: float64(7), int64(2), object(24)
memory usage: 2.8+ MB

In [4]:
# drop the columns
df = df.drop(['Data_Value_Footnote_Symbol','Data_Value_Unit', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'Total', 'Race/Ethnicity' , 'Gender','Age(years)'],1)

<ipython-input-4-a4563319e37c>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(['Data_Value_Footnote_Symbol','Data_Value_Unit', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'Total', 'Race/Ethnicity' , 'Gender','Age(years)'],1)

In [5]:
# drop duplicates
df = df.drop_duplicates()

In [6]:
df.dtypes

YearStart                      int64
YearEnd                        int64
LocationAbbr                  object
LocationDesc                  object
Datasource                    object
Class                         object
Topic                         object
Question                      object
Data_Value_Type               object
Data_Value                   float64
Data_Value_Alt               float64
Low_Confidence_Limit         float64
High_Confidence_Limit        float64
Sample_Size                  float64
Education                     object
Income                        object
GeoLocation                   object
ClassID                       object
TopicID                       object
QuestionID                    object
DataValueTypeID               object
LocationID                   float64
StratificationCategory1       object
Stratification1               object
StratificationCategoryId1     object
StratificationID1             object
dtype: object

In [7]:
df.reset_index(inplace=True)
df

,index,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1.0,Total,Total,OVR,OVERALL
1,1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1.0,Gender,Male,GEN,MALE
2,2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1.0,Gender,Female,GEN,FEMALE
3,3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1.0,Education,Less than high school,EDU,EDUHS
4,4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1.0,Education,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10971,10971,2011,2011,KS,Kansas,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,Value,...,"(38.34774030000045, -98.20078122699965)",PA,PA1,Q043,VALUE,20.0,Age (years),65 or older,AGEYR,AGEYR65PLUS
10972,10972,2011,2011,KS,Kansas,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,Value,...,"(38.34774030000045, -98.20078122699965)",PA,PA1,Q043,VALUE,20.0,Income,"Less than $15,000",INC,INCLESS15
10973,10973,2011,2011,KS,Kansas,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,Value,...,"(38.34774030000045, -98.20078122699965)",PA,PA1,Q043,VALUE,20.0,Income,"$15,000 - $24,999",INC,INC1525
10974,10974,2011,2011,KS,Kansas,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,Value,...,"(38.34774030000045, -98.20078122699965)",PA,PA1,Q043,VALUE,20.0,Income,"$25,000 - $34,999",INC,INC2535
10975,10975,2011,2011,KS,Kansas,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
columns_keep = [
    'Data_Value',  # Dependent variable (obesity rate)
    'Education',   # Independent variable 1
    'Income'       # Independent variable 2
]

In [9]:
# Create a new DataFrame with the selected columns

df_selected = df[columns_keep]

df_encoded = pd.get_dummies(df_selected, columns=['Education', 'Income'], drop_first=True)      # Perform one-hot encoding
df_encoded = df_encoded.dropna()

# Reset the index of the new DataFrame

df_encoded.reset_index(drop=True, inplace=True)

In [10]:
df_encoded

,Data_Value,Education_High school graduate,Education_Less than high school,Education_Some college or technical school,"Income_$25,000 - $34,999","Income_$35,000 - $49,999","Income_$50,000 - $74,999","Income_$75,000 or greater",Income_Data not reported,"Income_Less than $15,000"
0,32.0,0,0,0,0,0,0,0,0,0
1,32.3,0,0,0,0,0,0,0,0,0
2,31.8,0,0,0,0,0,0,0,0,0
3,33.6,0,1,0,0,0,0,0,0,0
4,32.8,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
10023,46.8,0,0,0,0,0,0,0,0,0
10024,47.2,0,0,0,0,0,0,0,0,0
10025,38.7,0,0,0,0,0,0,0,0,1
10026,37.4,0,0,0,0,0,0,0,0,0
10027,45.5,0,0,0,1,0,0,0,0,0

In [11]:
df_encoded.describe()

,Data_Value,Education_High school graduate,Education_Less than high school,Education_Some college or technical school,"Income_$25,000 - $34,999","Income_$35,000 - $49,999","Income_$50,000 - $74,999","Income_$75,000 or greater",Income_Data not reported,"Income_Less than $15,000"
count,10028.000000,10028.000000,10028.000000,10028.000000,10028.000000,10028.000000,10028.000000,10028.000000,10028.000000,10028.000000
mean,31.057339,0.039091,0.039091,0.039091,0.039091,0.038991,0.038991,0.038991,0.038991,0.039091
std,10.460201,0.193820,0.193820,0.193820,0.193820,0.193583,0.193583,0.193583,0.193583,0.193820
min,0.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,36.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,74.600000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

**Test-Train Split**

In [ ]:
X = df_encoded.drop('Data_Value', axis=1)
y = df_encoded['Data_Value']

In [ ]:
# Split the data into training and testing sets (70-30)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# 1. Linear Regression
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
linear_y_pred = linear_model.predict(X_test)8

# 2. Random Forest Regressor
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)
rf_y_pred = rf_model.predict(X_test)

In [ ]:
# Calculate RMSE for both models
linear_rmse = np.sqrt(mean_squared_error(y_test, linear_y_pred))
rf_rmse = np.sqrt(mean_squared_error(y_test, rf_y_pred))

In [ ]:
# Print RMSE for both models
print("Linear Regression RMSE:", linear_rmse)
print("Random Forest Regression RMSE:", rf_rmse)

Linear Regression RMSE: 10.212726657569489
Random Forest Regression RMSE: 10.21311791642661

In [ ]:
# y_pred = model.predict(X_test)   # Test set predictions

# mse = mean_squared_error(y_test, y_pred)   # Mean Squared Error

# r_squared = r2_score(y_test, y_pred)   # Calculate R-squared

# print(f'Mean Squared Error: {mse}')
# print(f'R-squared: {r_squared}')